<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>320 Singleton Boulevard, Dallas, TX 75212</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "478-696-0637" %></p>
    <h3>Email</h3>
    <p><a href="mailto:alvarodltp@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.522329630586!2d-96.83084018548178!3d32.77840699122308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e99673cf3553b%3A0xbe51731307ed917f!2s320+Singleton+Blvd%2C+Dallas%2C+TX+75212!5e0!3m2!1sen!2sus!4v1519405460852" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


